*.ts linguist-detectable=true
*.tsx linguist-detectable=true
*.md linguist-language=React 
*.yml linguist-language=React 
*.html linguist-language=React 
*.js linguist-language=React 
*.xml linguist-language=React
*.css linguist-language=React 
*.less linguist-language=React 
*.tsx linguist-language=React
*.ts linguist-language=React 
*.json linguist-language=React 
