src/* linguist-detectable=true
*.js linguist-language=TypeScript 
*.jsx linguist-language=TypeScript 
*.ts linguist-language=TypeScript 
*.tsx linguist-language=TypeScript 
*.css linguist-language=TypeScript 
*.less linguist-language=TypeScript 
